In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players = len(purchase_data['SN'].unique())
#print(total_players)

ttlplayers_df = pd.DataFrame([{"Total Players": total_players}])
ttlplayers_df

   Total Players
0            576

In [3]:
num_unique = len(purchase_data["Item ID"].unique())
print(num_unique)

183

In [4]:
avg_price = purchase_data["Price"].mean()
print(avg_price)

3.050987179487176

In [5]:
ttl_purch = purchase_data["Purchase ID"].count()
print(ttl_purch)
#ttl_purch.head()

780

In [6]:
ttl_rev = purchase_data["Price"].sum()
print(ttl_rev)

2379.77

In [7]:
purch_analysis_df = pd.DataFrame({"Number of Unique Items": [num_unique],
                               "Average Purchase Price": [avg_price],
                               "Number of Purchases": [ttl_purch],
                               "Total Revenue": [ttl_rev]})
purch_analysis_df
#need to fix formatting

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [8]:
#count of male
male_gender = purchase_data.loc[purchase_data["Gender"] == "Male",:]
unique_males = male_gender["SN"].unique()
male_count = len(unique_males)
print(male_count) 

#count of female
female_gender = purchase_data.loc[purchase_data["Gender"] == "Female",:]
unique_females = female_gender['SN'].unique()
female_count = len(unique_females)
print(female_count) 

#count of other
other_count = total_players-(male_count + female_count)
print(other_count)

484
81
11

In [9]:
#male %
male_perc = (male_count / total_players)
print(male_perc)

#female %
female_perc = (female_count / total_players)
print(female_perc)

#other %
other_perc = (other_count / total_players)
print(other_perc)

0.8402777777777778
0.140625
0.019097222222222224

In [ ]:
#need to create DataFrame