In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players = len(purchase_data['SN'].unique())
#print(total_players)

ttlplayers_df = pd.DataFrame([{"Total Players": total_players}])
ttlplayers_df

   Total Players
0            576

In [3]:
num_unique = len(purchase_data["Item ID"].unique())
print(num_unique)

183

In [4]:
avg_price = purchase_data["Price"].mean()
print(avg_price)

3.050987179487176

In [5]:
ttl_purch = purchase_data["Purchase ID"].count()
print(ttl_purch)
#ttl_purch.head()

780

In [6]:
ttl_rev = purchase_data["Price"].sum()
print(ttl_rev)

2379.77

In [7]:
purch_analysis_df = pd.DataFrame({"Number of Unique Items": [num_unique],
                               "Average Purchase Price": [avg_price],
                               "Number of Purchases": [ttl_purch],
                               "Total Revenue": [ttl_rev]})
purch_analysis_df
#need to fix formatting

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [12]:
#count of male
male_gender = purchase_data.loc[purchase_data["Gender"] == "Male",:]
unique_males = male_gender["SN"].unique()
male_count = len(unique_males)
print(male_count) 

#count of female
female_gender = purchase_data.loc[purchase_data["Gender"] == "Female",:]
unique_females = female_gender['SN'].unique()
female_count = len(unique_females)
print(female_count) 

#count of other
other_count = total_players-(male_count + female_count)
print(other_count)

#count of total
total_count = male_count + female_count + other_count
print(total_count)

484
81
11
576

In [13]:
#male %
male_perc = (male_count / total_players)
print(male_perc)

#female %
female_perc = (female_count / total_players)
print(female_perc)

#other %
other_perc = (other_count / total_players)
print(other_perc)

0.8402777777777778
0.140625
0.019097222222222224

In [14]:
#need to create DataFrame

In [31]:
# Basic Calcs
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")


# Calc normalized purchasing
#normalized_total = gender_purchase_total / total_count

# Cleanup
gender_data = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Purchase Value": gender_average, 
                            "Total Purchase Value": gender_purchase_total})
                           

#Display dataframe
gender_data

,Purchase Count,Average Purchase Value,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [32]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Add an column to the dataframe with age ranges
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels=age_names)


age_demo_totals = purchase_data["Age Range"].value_counts()
age_demo_percents = age_demo_totals / total_players * 100

age_demographics = pd.DataFrame({"Total Count": age_demo_totals, "Percent of Players": age_demo_percents})
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count  Percent of Players
<10             23            3.993056
10-14           28            4.861111
15-19          136           23.611111
20-24          365           63.368056
25-29          101           17.534722
30-34           73           12.673611
35-39           41            7.118056
40+             13            2.256944

In [33]:
#Create Age Specific Dataframes by filtering ages using new column
under_ten = purchase_data.loc[purchase_data['Age Range'] == "<10",:]
ten_fourteen = purchase_data.loc[purchase_data['Age Range'] == "10-14",:]
fifteen_nineteen = purchase_data.loc[purchase_data['Age Range'] == "15-19",:]
twenty_twentyfour = purchase_data.loc[purchase_data['Age Range'] == "20-24",:]
twentyfive_twentynine = purchase_data.loc[purchase_data['Age Range'] == "25-29",:]
thirty_thirtyfour = purchase_data.loc[purchase_data['Age Range'] == "30-34",:]
thirtyfive_thirtynine = purchase_data.loc[purchase_data['Age Range'] == "35-39",:]
over_forty = purchase_data.loc[purchase_data['Age Range'] == "40+",:]

In [34]:
#Count number of players in age range by unique SN count
underten_players = len(under_ten['SN'].unique())
tenfourteen_players = len(ten_fourteen['SN'].unique())
fifteennineteen_players = len(fifteen_nineteen['SN'].unique())
twentytwentyfour_players = len(twenty_twentyfour['SN'].unique())
twentyfivetwentynine_players = len(twentyfive_twentynine['SN'].unique())
thirtythirtyfour_players = len(thirty_thirtyfour['SN'].unique())
thirtyfivethirtynine_players = len(thirtyfive_thirtynine['SN'].unique())
overforty_players = len(over_forty['SN'].unique())

In [35]:
#Create Age Specific Dataframes by filtering ages using new column
under_ten = purchase_data.loc[purchase_data['Age Range'] == "<10",:]
ten_fourteen = purchase_data.loc[purchase_data['Age Range'] == "10-14",:]
fifteen_nineteen = purchase_data.loc[purchase_data['Age Range'] == "15-19",:]
twenty_twentyfour = purchase_data.loc[purchase_data['Age Range'] == "20-24",:]
twentyfive_twentynine = purchase_data.loc[purchase_data['Age Range'] == "25-29",:]
thirty_thirtyfour = purchase_data.loc[purchase_data['Age Range'] == "30-34",:]
thirtyfive_thirtynine = purchase_data.loc[purchase_data['Age Range'] == "35-39",:]
over_forty = purchase_data.loc[purchase_data['Age Range'] == "40+",:]

In [36]:
#Calc purchase count, average purchase price, and total value for each group 
Price1 = under_ten["Price"]
nop1 = len(Price1)
T1 = Price1.sum()
AP1 = Price1.sum()/len(Price1)

Price2 = ten_fourteen["Price"]
nop2 = len(Price2)
T2 = Price2.sum()
AP2 = Price2.sum()/len(Price2)

Price3 = fifteen_nineteen["Price"]
nop3 = len(Price3)
T3 = Price3.sum()
AP3 = Price3.sum()/len(Price3)

Price4 = twenty_twentyfour["Price"]
nop4 = len(Price4)
T4 = Price4.sum()
AP4 = Price4.sum()/len(Price4)

Price5 = twentyfive_twentynine["Price"]
nop5 = len(Price5)
T5 = Price5.sum()
AP5 = Price5.sum()/len(Price5)

Price6 = thirty_thirtyfour["Price"]
nop6 = len(Price6)
T6 = Price6.sum()
AP6 = Price6.sum()/len(Price6)

Price7 = thirtyfive_thirtynine["Price"]
nop7 = len(Price7)
T7 = Price7.sum()
AP7 = Price7.sum()/len(Price7)

Price8 = over_forty["Price"]
nop8 = len(Price8)
T8 = Price8.sum()
AP8 = Price8.sum()/len(Price8)

In [37]:
#Create Dictionary 
age_dict = {
    'Age Range': ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'],
    'Purchase Count': [nop1, nop2, nop3, nop4, nop5, nop6, nop7, nop8],
    'Average Purchase Price': [AP1, AP2, AP3, AP4, AP5, AP6, AP7, AP8],
    'Total Purchase Value': [T1, T2, T3, T4, T5, T6, T7, T8]}

#Create and Reformat dataframe
age_df = pd.DataFrame(age_dict)
age_df['Average Purchase Price'] = age_df['Average Purchase Price'].map("${:.2f}".format)
age_df['Total Purchase Value'] = age_df['Total Purchase Value'].map("${:.2f}".format)

#Change column order and set index to Age Range
age_df = age_df[['Age Range','Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
age_df = age_df.set_index('Age Range')
age_df

           Purchase Count Average Purchase Price Total Purchase Value
Age Range
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05             $1114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

In [38]:
#Basic Calcs
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Purchase Count": user_count,
                          "Average Purchase Price": user_average,
                          "Total Purchase Value": user_total})

#Display in dataframe
user_data.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10